# ==========================================
# Cấu hình Dùng chung (Shared)
# ==========================================
DB_HOST=mysql-db
DB_PORT=3306

# ==========================================
# Cấu hình User Service
# ==========================================
USER_DB_NAME=quickbite_user_db
USER_DB_USERNAME=root
USER_DB_PASSWORD=********
USER_SERVER_PORT=8081

# ==========================================
# Cấu hình Restaurant Service
# ==========================================
RESTAURANT_DB_NAME=quickbite_restaurant_db
RESTAURANT_DB_USERNAME=root
RESTAURANT_DB_PASSWORD=********
RESTAURANT_SERVER_PORT=8082

# ==========================================
# Cấu hình Order Service
# ==========================================
ORDER_DB_NAME=quickbite_order_db
ORDER_DB_USERNAME=root
ORDER_DB_PASSWORD=********
ORDER_SERVER_PORT=8083

# ==========================================
# Cấu hình Notification Service
# ==========================================
NOTIFICATION_DB_NAME=quickbite_notification_db
NOTIFICATION_DB_USERNAME=root
NOTIFICATION_DB_PASSWORD=********
NOTIFICATION_SERVER_PORT=8084
